@use '../_layout/vars' as var;

body {
    min-height: 100vh;
    background-color: var.$backgroud-color;
    font-size: 100%;
    color: var.$white;
    font-family: var.$font-body;
    overflow-x: hidden;
  }