@use '../_layout/vars'as var;
@use '../_layout/mixin'as mixin;


.access {
  position: relative;
  width: 100vw;
  height: 50vh;
  background: var.$backgroud-main;

  &__container {
    position: absolute;
    bottom: -40%;
    left: 20%;
    background: var.$backgroud-color;
    width: 60%;
    height: 290px;
    margin: 0 auto;
    border-radius: .4rem;
    padding: 4rem;
    text-align: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    @include mixin.flex(center, center, column);
  }

  &__title {
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: 3rem;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 0 2rem;
  }

  &__inputs {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
    outline: none;
    border: none;
  }

  &__email {
    background: var.$white;
    border-radius: 1.4rem;
    width: 60%;
    padding: .8rem;
    color: black;
  }

  &__submit {
    width: 30%;
    background: linear-gradient(to right, var.$cyan, var.$blue);
    padding: .8rem;
    border-radius: 1.4rem;
    margin: 0 auto;
    font-weight: 600;
    font-size: .9rem;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, var.$cyan, var.$blue);
      transform: scale(1.1);
    }
  }
}

@media (max-width:768px) {
  .access {
    &__container {
      bottom: -50%;
      left: 8%;
      width: 80%;
      height: 370px;
      padding: 0rem;
      
    }

    &__title{
      font-size: 1.3rem;
      margin-top: 2rem;
    }

    &__text {
    // font-size: .85rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 0 4rem;
  }

  
  &__inputs {
    flex-direction: column;

  }

  &__email {
    background: var.$white;
    border-radius: 1.4rem;
    width: 80%;
    padding: .8rem;
    color: black;
  }

  &__submit {
    width: 80%;
    background: linear-gradient(to right, var.$cyan, var.$blue);
    padding: .8rem;
    border-radius: 1.4rem;
    margin: 2.5rem 0 0 0;
    font-weight: 600;
    font-size: .9rem;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, var.$cyan, var.$blue);
      transform: scale(1.1);
    }
    }
  }

  
}