@use '../_layout/vars'as var;
@use '../_layout/mixin'as mixin;

.icons {
  background-color: var.$backgroud-main;
  width: 100vw;
  
  padding: 2rem;
  @include mixin.flex(center, center, column);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 4rem;
  }

  &__content {
    width: 380px;
    margin: 0 4rem 2rem 4rem;
    text-align: center;
    @include mixin.flex(center, center, column);
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var.$font-header;
  }

  &__text {
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__img {
    width: 70px;
    height: 70px;
    margin: 1rem auto;
    transition: .4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}


@media (max-width:768px) {

  .icons{
    &__container {
      margin-top: 8rem;
      grid-template-columns: 1fr;
    }

    &__title{
      font-size: 1.2rem;
    }

    &__text{
      font-size: .85rem;
      padding: 0 2rem;
    }
  }

}